.button-full-width {
	width: 100% !important;
}
.choosing-box-main-caption {
	font-family: "Segoe UI Light";
	font-size: 20px;
	color: #444;
	overflow: hidden;
	white-space: pre-line;
	display: inline-block;
	margin-bottom: 1px;
	width: 100%;
	text-align: center;
}
