.dashboard-container-item .control-no-label {
  min-height: 70px;
}

.dashboard-container-item .detailed-result-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 3em;
  color: #bdbdbd;
  font-size: 1.5em;
}