@editableGridButtonColor: #4e7bd8;

.label-wrap + .control-wrap {
  margin-left: 0;
  padding-left: 0;
}

.editable-grid-button {
	.t-btn-text {
		color: @editableGridButtonColor;
		font-size: 1em;
		line-height: 25px;
		padding: 0;
		&:hover {
			color: @editableGridButtonColor;
			text-decoration: underline;
		}
	}
}
.order-report-filter-modal-box {
	-moz-transition: height .1s ease-in;
	-ms-transition: height .1s ease-in;
	-o-transition: height .1s ease-in;
	-webkit-transition: height .1s ease-in;
	transition: height .1s ease-in;
	padding: initial;
	
	.container-padding {
		padding: 15px 5px 10px 5px;
	}

	.t-btn-text {
		line-height: 1.2em;
		margin-right: 0.8em;
	}
	.fixed-area-container {
		display: inline-block;
		height: 100%;
		//padding: 0 40px 0 24px;
		width: 94%;
	}
	.summary-item-container {
		margin-top: 0;
	}
	.t-label {
		width: auto;
	}
	.header {
		display: inline-block;
		width: 100%;
	}
	.header-name-container-full {
		padding-top: 4px;
	}
	.header-name-container {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		padding-right: 15px;
		vertical-align: top;
		width: 45%;
		.t-label {
			color: #64b8df;
			font-family: "Segoe UI Light";
			font-size: 2.2em;
			letter-spacing: -0.01em;
		}
		&.header-caption {
			width: inherit;
		}
	}
	.box-content {
		display: inline-block;
		width: 100%;
		
		.control-width-15 {
			display: inline-block;
			margin-bottom: 15px;
			
			.label-wrap {
				display: block;
				
				.t-label {
					margin-bottom: initial;
				}
			}
			
			.control-wrap {
				margin-top: -5px;
			}
		}
	}
	.modal-box-schema-module-content {
		position: relative;
		margin-top: 0;
		overflow: auto;
		right: 0px;
		left: 0px;
		padding-left: 24px;
		padding-right: 24px;
		max-height: none;
		&.schema-wrap.one-el{
			height: auto;
			min-width: initial;
		}
	}
	.close-btn-user-class {
		position: absolute;
		right: 0;
		top: 11px;
	}
	.bottom-buttons-container {
		text-align: right;
		margin-right: 0;
		padding-top: 15px;
	}
}
.product-buttons-container {
	.editable-grid-button {
		float: left;
	}
}
.editable-grid-button.clear-products {
	margin: 0.7em 0 0 0.5em;
	span {
		height: 16px;
		padding: 0;
		width: 16px;
	}
}