.empty-grid-message label {
	color: #999999;
	font-size: 1em;
}

.empty-grid-message {
	font-family: "Segoe UI Light";
	color: #999;
	width: 477px;
	margin-top: 42px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

.empty-grid-message .ts-controlgroup-container {
	padding-bottom: 0;
}

.empty-grid-message .image-container{
	width: 135px;
	height: 139px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
}

.empty-grid-message .title {
	font-size: 24px;
	margin-top: 52px;
	margin-left: 29px;
}

.empty-grid-message .description {
	font-size: 28px;
	margin-top: 29px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 30px;
	box-shadow: -3px 0 0 0 #54b8df;
}

.empty-grid-message a:hover {
	text-decoration: underline;
}
.empty-grid-message a {
	color: #4e7bd8;
	text-decoration: none;
}